// header style

header {
  width: 95%;
  height: 20%;
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
  padding: 12px;
}

.header-link {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header-txt {
  font-weight: 600;

  &:hover {
    color: white;
  }

  // hover underline
  &::after {
    content: '';
    position: relative;
    display: block;
    border-bottom: 3px solid white;
    transition: width 250ms ease-out;
    left: auto;
    right: 0;
    width: 0;
    padding: 0.25rem 0;
  }

  &:hover::after {
    width: 100%;
    left: 0;
    right: auto;
  }
}
.header-btns {
  margin: 0.5rem;
}
